<div class="profile-page sidebar-collapse">
  <div class="wrapper">

    <div class="page-header page-header-small">
      <div class="page-header-image" data-parallax="true" style="background-image: url('{{ bgImage }}');">
      </div>
      <div class="content-center mx-1 px-1">
          <div class="row justify-content-between mt-5 pt-5">
            <div class="col-lg-6 text-left">
              <h1 class="title mb-0 pt-1 text-left">{{ name }}</h1>
              <h5>{{ year }}</h5>
              <span *ngFor="let category of categories">
                {{ category }},
              </span>
                <div class="d-flex align-items-center mt-2">
                  <img src="/assets/img/imdb.png" alt="">
                  <h1 class="d-inline mb-0"><b>{{ imdb }}</b></h1>
                </div>
            </div>
            <div class="col-lg-6 d-lg-block d-none">
              <iframe width="560" class="rounded mb-3" height="315" [src]="trailer | safeUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
          </div>
      </div>
    </div>

    <div class="section section-team">
      <div class="container">
        <div class="button-container row w-25 mx-auto">
          <div class="col-6">
            <app-animated-button style="background-color: white;">
              <i class="fa-solid fa-thumbs-up">
                <span class="ml-2">{{ likeCount }}</span>
              </i>
            </app-animated-button>
          </div>
          <div class="col-6">
            <app-animated-button style="background-color: white;">
              <i class="fa-solid fa-thumbs-down">
                <span class="ml-2">{{ dislikeCount }}</span>
              </i>
            </app-animated-button>
          </div>

        </div>
          <div class="row mt-3">
            <div class="col-lg-4">
                <img class="bbb" src="{{ poster }}" alt="Location Unknown">
                <div class="social-line text-center mt-3 bbb border bg-light">
                  <h4 class="my-2"><u>This Content is:</u> <br><b>{{ viewCount }}</b><br><h6>Times Viewed</h6></h4>
                </div>
                <div class="social-line text-center mt-3">
                  <h4 class="my-2">Follow Us:</h4>

                  <app-social-buttons
                      instagram="https://www.instagram.com/emreyoruk0/"
                      x="https://x.com/emrelyoruk"
                      linkedin="https://www.linkedin.com/in/emreyorukk/"
                      github="https://github.com/emreyoruk0">
                  </app-social-buttons>

                </div>
                <div class="mt-5">
                  <h3>Similar Contents</h3>
                  <div class="row">
                    <div class="col-6 mb-3">
                      <a routerLink="{{ contentRouteUrl }}">
                        <img class="bbb" src="{{ poster }}" alt="Location Unknown">
                      </a>
                    </div>
                    <div class="col-6 mb-3">
                      <a routerLink="{{ contentRouteUrl }}">
                        <img class="bbb" src="{{ poster }}" alt="Location Unknown">
                      </a>
                    </div>
                  </div>
                </div>
            </div>

            <div class="col-lg-8">
              <h1><b>About</b></h1>
              <p style="color: black;">
                {{ description }}
              </p>
              <hr>

              <ng-content></ng-content>

              <div class="row mt-3 bg-light">
                <div class="col-2 p-2">
                  <a routerLink="{{ userRouteUrl }}">
                    <img src="{{ userImage }}" alt="Thumbnail Image" class="rounded-circle img-raised">
                  </a>
                </div>
                <div class="col-10 p-2">
                  <div class="row">
                    <div class="col-8">
                      <a routerLink="{{ userRouteUrl }}">
                        <h4 class="my-0">{{ userName }}</h4>
                      </a>
                    </div>
                    <div class="col-4">
                      <span class="description float-right">{{ userCommentDate }}</span>
                    </div>
                  </div>
                  <p class="display-5">{{ userComment }}</p>
                  <button class="btn btn-light rounded-pill bg-white text-dark"><i class="fa-solid fa-thumbs-up"></i></button>
                  <button class="btn btn-light rounded-pill bg-white text-dark"><i class="fa-solid fa-thumbs-down"></i></button>
                </div>
              </div>

            </div>
          </div>
      </div>
    </div>
  </div>
</div>
