<app-content-detail
  name="Durante la Tormenta"
  year="2018"
  description="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit laudantium dicta officiis perspiciatis officia voluptatibus soluta? Consequatur, amet officiis, ab quae neque dolorem illo ratione rerum eius possimus nulla distinctio."
  imdb="8.1"
  [categories]="['Bilim Kurgu', 'Gerilim', 'Drama']"
  trailer="https://www.youtube.com/embed/t2-79qK2Cio?si=yyvPw-Zo3HWWlfWe"
  bgImage="https://occ-0-2794-2219.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABZzAdPX1r4IDNzHIXRlsXz5eCdQZWU5APB-PbjpuSy0bbaXHPzeEHlvmd33D2A5WfTWD4o_yDSzU5OnxsEEZyOjw4aOXKX2EtjF2.jpg?r=d83"
  likeCount="5"
  dislikeCount="1"
  viewCount="1.6B"
  poster="https://tr.web.img2.acsta.net/pictures/19/03/28/15/19/3146737.jpg"
  contentRouteUrl="/movies/detail"
  userRouteUrl="/profile"
  userName="Onur Karakaya"
  userImage="/assets/img/onur.jpg"
  userComment="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis nesciunt earum rerum nemo possimus laborum aliquam rem, repellendus magni corporis maxime id, natus fugit aut deleniti tempore. Quae, quas facere. lo">

    <form>
      <label for="yorum"><b>Write Comment</b></label>
      <div class="btn-group btn-group-toggle">
        <textarea class="form-control" name="" id="yorum" cols="90" rows="2"></textarea>
        <button class="yorum-btn">Send Comment</button>
      </div>
    </form>

</app-content-detail>
