<app-content-detail
  name="{{ movie.name }}"
  release="{{ movie.release | date }}"
  description="{{ movie.about }}"
  imdb="{{ movie.imdb }}"
  metacritic="{{ movie.metacritic }}"
  [categories]="['Bilim Kurgu', 'Gerilim', 'Drama']"
  trailer="{{ movie.trailer }}"
  bgImage="{{ movie.background }}"
  likeCount="{{ movie.like }}"
  poster="{{ movie.poster }}"
  userRouteUrl="/profile"
  userName="Onur Karakaya"
  userImage="/assets/img/onur.jpg"
  userComment="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis nesciunt earum rerum nemo possimus laborum aliquam rem, repellendus magni corporis maxime id, natus fugit aut deleniti tempore. Quae, quas facere. lo"
  userCommentDate="01/10/2023">

    <form #commentForm="ngForm" (ngSubmit)="sendComment(commentForm)">
      <label for="comment"><b>Write a Comment</b></label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <label for="comment">
              <i class="ml-2 now-ui-icons ui-2_chat-round"></i>
            </label>
          </div>
        </div>
        <textarea
          rows="3"
          class="form-control"
          name="comment"
          #comment
          ngModel
          id="comment">
        </textarea>
        <button type="submit" class="btn-comment">Send Comment</button>
      </div>
    </form>

</app-content-detail>
