<div class="profile-page sidebar-collapse">
  <div class="wrapper">
    <div class="page-header clear-filter page-header-small" filter-color="orange">
      <div class="page-header-image" data-parallax="true" style="background-image:url('/assets/img/bg5.jpg');">
      </div>
      <div class="container">
        <div class="photo-container">
          <img src="/assets/img/onur.jpg" alt="">
        </div>
        <h3 class="title">Onur Karakaya</h3>
        <p class="category">Software Engineer</p>
        <div class="content">
          <div class="social-description">
            <h2>26</h2>
            <p>Movies</p>
          </div>
          <div class="social-description">
            <h2>26</h2>
            <p>Games</p>
          </div>
          <div class="social-description">
            <h2>48</h2>
            <p>Books</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="button-container">
          <a href="#" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Twitter">
            <i class="fab fa-x-twitter"></i>
          </a>
          <a href="#" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on LinkedIn">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="#" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on GitHub">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <h3 class="title mt-2">Hakkımda</h3>
        <h5 class="description">An artist of considerable range, Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. An artist of considerable range.</h5>
        <div class="row">
          <div class="col-md-12 mx-auto">
            <h4 class="title text-center mt-0">Beğendiğim İçerikler</h4>
            <div class="nav-align-center">
              <ul class="nav nav-pills nav-pills-primary nav-pills-just-icons" role="tablist">
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#movies" role="tablist" rel="tooltip" title="Movies" data-placement="bottom">
                    <i class="fa-solid fa-film"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#games" role="tablist" rel="tooltip" title="Games" data-placement="bottom">
                    <i class="fa-solid fa-gamepad"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#books" role="tablist" rel="tooltip" title="Books" data-placement="bottom">
                    <i class="fa-solid fa-book"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Tab panes -->
          <div class="tab-content gallery">
            <div class="tab-pane active" id="games" role="tabpanel">
              <div class="col-md-10 mx-auto">
                <div class="row collections">
                  <div class="col-md-6">
                    <div class="card">
                      <div class="poster">
                        <img src="https://image.api.playstation.com/vulcan/img/rnd/202010/2821/KXv6VplN1r1bNPdfR4r29w0m.png" alt="Location Unknown">
                      </div>
                      <div class="details p-3">
                          <a routerLink="/detail"><h1>Infamous Second Son</h1></a>
                          <h2><i class="fa fa-eye"></i> 1.6b views<span class="float-right"><i class="fa-solid fa-comment"></i> 5 comments</span></h2>
                          <div class="tags">
                              <span class="tag">İspanyol</span>
                              <span class="tag">Bilim Kurgu</span>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="movies" role="tabpanel">
              <div class="col-md-10 mx-auto">
                <div class="row collections">
                  <div class="col-md-6">
                    <div class="card">
                      <div class="poster">
                        <img src="https://tr.web.img4.acsta.net/r_1280_720/pictures/19/03/28/15/19/3146737.jpg" alt="Location Unknown">
                      </div>
                      <div class="details p-3">
                          <a routerLink="/detail"><h1>Durante La Tormenta</h1></a>
                          <h2><i class="fa fa-eye"></i> 1.6b views<span class="float-right"><i class="fa-solid fa-comment"></i> 5 comments</span></h2>
                          <div class="tags">
                              <span class="tag">İspanyol</span>
                              <span class="tag">Bilim Kurgu</span>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="books" role="tabpanel">
              <div class="col-md-10 mx-auto">
                <div class="row collections">
                  <div class="col-md-6">
                    <div class="card">
                      <div class="poster">
                        <img src="https://m.media-amazon.com/images/I/A1u+2fY5yTL._AC_UF1000,1000_QL80_.jpg" alt="Location Unknown">
                      </div>
                      <div class="details p-3">
                          <a routerLink="/detail"><h1>Dune</h1></a>
                          <h2><i class="fa fa-eye"></i> 1.6b views<span class="float-right"><i class="fa-solid fa-comment"></i> 5 comments</span></h2>
                          <div class="tags">
                              <span class="tag">İspanyol</span>
                              <span class="tag">Bilim Kurgu</span>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
