<app-auth loginOrRegister="Log In" routeUrl="/register" leftText="Create Account">

  <form class="card-body py-1">
    <div class="input-group no-border input-lg">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="now-ui-icons ui-1_email-85"></i>
        </span>
      </div>
      <input type="email" class="form-control" placeholder="Email">
    </div>
    <div class="input-group no-border input-lg mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="now-ui-icons text_caps-small"></i>
        </span>
      </div>
      <input type="password" placeholder="Password" class="form-control"/>
    </div>
  </form>
  
</app-auth>
