<app-content-detail
  name="{{ game.name }}"
  release="{{ game.release | date }}"
  description="{{ game.about }}"
  imdb="{{ game.imdb }}"
  metacritic="{{ game.metacritic }}"
  [categories]=gameCategories
  trailer="{{ game.trailer }}"
  bgImage="{{ game.background }}"
  poster="{{ game.poster }}">

  <div class="row w-50 mx-auto">
    <div class="col-6">
      <app-animated-button>
        <span> Like </span>
        <i class="fa-solid fa-thumbs-up">
          <span class="ml-2">{{ game.like }}</span>
        </i>
      </app-animated-button>
    </div>
    <div class="col-6">
      <app-animated-button>
        <span>Dislike </span>
        <i class="fa-solid fa-thumbs-down">
          <span class="ml-2">{{ game.dislike }}</span>
        </i>
      </app-animated-button>
    </div>

  </div>

    <form #commentForm="ngForm" (ngSubmit)="addComment(commentForm)">
      <label for="comment"><b>Write a Comment</b></label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <label for="comment">
              <i class="ml-2 now-ui-icons ui-2_chat-round"></i>
            </label>
          </div>
        </div>
        <textarea
          rows="3"
          class="form-control"
          name="comment"
          #comment
          ngModel
          id="comment">
        </textarea>
        <button type="submit" class="btn-comment">Send Comment</button>
      </div>
    </form>

</app-content-detail>
