<div class="profile-page sidebar-collapse">

  <div class="wrapper">

    <div class="page-header page-header-small">
      <div class="page-header-image" data-parallax="true" style="background-image: url('https://occ-0-2794-2219.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABZzAdPX1r4IDNzHIXRlsXz5eCdQZWU5APB-PbjpuSy0bbaXHPzeEHlvmd33D2A5WfTWD4o_yDSzU5OnxsEEZyOjw4aOXKX2EtjF2.jpg?r=d83');">
      </div>
      <div class="content-center mx-1 px-1">
          <div class="row justify-content-between mt-5 pt-5">
            <div class="col-md-6 text-left">
              <h1 class="title mb-0 pt-1 text-left">Fırtına anı</h1>
              <h5>2020</h5>
              <p>(Bilim kurgu, gerilim)</p>
                <div class="d-flex align-items-center">
                  <img src="/assets/img/imdb.png" alt="">
                  <h1 class="d-inline mb-0"><b>8.1</b></h1>
                </div>
            </div>
            <div class="col-md-6 d-none d-md-block">
              <iframe width="560" class="rounded mb-3" height="315" src="https://www.youtube.com/embed/t2-79qK2Cio?si=yyvPw-Zo3HWWlfWe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
          </div>
      </div>
    </div>

    <div class="section section-team">
      <div class="container">
        <div class="button-container">
          <button class="border btn btn-lg btn-light rounded-pill bg-white text-dark"><i class="fa-solid fa-thumbs-up">
            5
          </i></button>
          <button class="border btn btn-lg btn-light rounded-pill bg-white text-dark"><i class="fa-solid fa-thumbs-down">
            1
          </i></button>
        </div>
          <div class="row mt-3">
            <div class="col-md-4 order-md-1 order-2">
                <img class="bbb" src="https://tr.web.img2.acsta.net/pictures/19/03/28/15/19/3146737.jpg" alt="Location Unknown">
                <div class="social-line text-center mt-3 bbb border bg-light">
                  <h4 class="my-2"><u>Bu İçerik:</u> <br><b>1.6B</b> <br><h6>Kez Görüntülendi</h6></h4>

                </div>
                <div class="social-line text-center mt-3 bbb border bg-light">
                  <h4 class="my-2">Bizi Takip Et:</h4>
                  <a href="#" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
                    <i class="fab fa-instagram"></i>
                  </a>
                  <a href="#" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Twitter">
                    <i class="fab fa-x-twitter"></i>
                  </a>
                  <a href="#" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Facebook">
                    <i class="fab fa-facebook"></i>
                  </a>
                </div>
                <div class="mt-5">
                  <h3>Benzer Filmler</h3>
                  <div class="row">
                    <div class="col-6 mb-3">
                      <a routerLink="/detail">
                        <img class="bbb" src="https://tr.web.img2.acsta.net/pictures/19/03/28/15/19/3146737.jpg" alt="Location Unknown">
                      </a>
                    </div>
                    <div class="col-6 mb-3">
                      <a routerLink="/detail">
                        <img class="bbb" src="https://tr.web.img2.acsta.net/pictures/19/03/28/15/19/3146737.jpg" alt="Location Unknown">
                      </a>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-8 order-md-2 order-1">
              <h1><b>Hakkında</b></h1>
              <p style="color: black;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ratione repellat praesentium hic ipsam. Numquam assumenda, eos fugiat sequi, totam cum earum omnis dicta molestias praesentium placeat, necessitatibus voluptates tenetur.
              </p>
              <hr>
              <form action="">
                <label for="yorum"><b>Yorum Yaz</b></label>
                <div class="btn-group btn-group-toggle">
                  <textarea class="form-control" name="" id="yorum" cols="90" rows="2"></textarea>
                  <button class="yorum-btn">Yorumu Gönder</button>
                </div>
              </form>
              <div class="row mt-3 bg-light">
                <div class="col-2 p-2">
                  <a routerLink="/profile">
                    <img src="/assets/img/onur.jpg" alt="Thumbnail Image" class="rounded-circle img-raised">
                  </a>
                </div>
                <div class="col-10 p-2">
                  <a routerLink="/profile"><h4 class="my-0">Onur Karakaya</h4></a>
                  <p class="display-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis nesciunt earum rerum nemo possimus laborum aliquam rem, repellendus magni corporis maxime id, natus fugit aut deleniti tempore. Quae, quas facere. lo</p>
                  <button class="btn btn-light rounded-pill bg-white text-dark"><i class="fa-solid fa-thumbs-up"></i></button>
                  <button class="btn btn-light rounded-pill bg-white text-dark"><i class="fa-solid fa-thumbs-down"></i></button>
                </div>
              </div>
              <div class="row mt-3 bg-light">
                <div class="col-2 p-2">
                  <a routerLink="/profile">
                    <img src="/assets/img/sinan.jpg" alt="Thumbnail Image" class="rounded-circle img-raised">
                  </a>
                </div>
                <div class="col-10 p-2">
                  <a routerLink="/profile"><h4 class="my-0">Sinan Uyğun</h4></a>
                  <p class="display-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis nesciunt earum rerum nemo possimus laborum aliquam rem, repellendus magni corporis maxime id, natus fugit aut deleniti tempore. Quae, quas facere. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum odit delectus voluptatum ullam sint repellendus voluptates perspiciatis quod quis, quidem harum nostrum accusantium soluta incidunt! Est, nemo. Repudiandae, aliquid voluptatibus?</p>
                  <button class="btn btn-light rounded-pill bg-white text-dark"><i class="fa-solid fa-thumbs-up"></i></button>
                  <button class="btn btn-light rounded-pill bg-white text-dark"><i class="fa-solid fa-thumbs-down"></i></button>
                </div>
              </div>
              <div class="row mt-3 bg-light">
                <div class="col-2 p-2">
                  <a routerLink="/profile">
                    <img src="/assets/img/emre.jpg" alt="Thumbnail Image" class="rounded-circle img-raised">
                  </a>
                </div>
                <div class="col-10 p-2">
                  <a routerLink="/profile"><h4 class="my-0">Emre Yörük</h4></a>
                  <p class="display-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis nesciunt earum rerum nemo possimus laborum aliquam rem, repellendus magni corporis maxime id, natus fugit aut deleniti tempore. Quae, quas facere.</p>
                  <button class="btn btn-light rounded-pill bg-white text-dark"><i class="fa-solid fa-thumbs-up"></i></button>
                  <button class="btn btn-light rounded-pill bg-white text-dark"><i class="fa-solid fa-thumbs-down"></i></button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>


