<div class="page-header clear-filter" filter-color="orange">
  <div class="page-header-image" data-parallax="true" style="background-image:url('/assets/img/nlogin.jpg');">
  </div>
  <div class="container">
    <div class="content-center brand">
      <img class="n-logo" src="/assets/img/now-logo.png" alt="">
      <h1 class="h1-seo">Eternal Lib</h1>
      <h3>A Social Media Platform That You Can Share <br>The MOVIES, GAMES And BOOKS You Like</h3>
    </div>
    <h6 class="category category-absolute">Designed by Emre Yörük
      <a href="https://www.linkedin.com/in/emreyorukk/" target="_blank">
        <i class="fa-brands fa-linkedin fa-2xl"></i>
      </a>. Coded by EternaLib Team
      <a href="https://github.com/Design-Project-OSE/EternaLib" target="_blank">
        <i class="fa-brands fa-github fa-2xl"></i>
      </a></h6>
  </div>
</div>
<div class="main section-download pt-1" id="#download-section">
  <div class="section container-fluid">
    <div class="text-center">
      <h2 class="title">Popüler İçerikler Alanı</h2>
      <div class="row justify-content-md-center">
        <div class="col-md-6 col-lg-4 wrapper">
          <div class="card">
            <div class="poster">
              <img src="https://tr.web.img4.acsta.net/r_1280_720/pictures/19/03/28/15/19/3146737.jpg" alt="Location Unknown">
            </div>
            <div class="details">
                <h1>Fırtına Anı</h1>
                <h2>2018 • PG • 2hr 08min</h2>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <span>4.2/5</span>
                </div>
                <div class="tags">
                    <span class="tag">İspanyol</span>
                    <span class="tag">Bilim Kurgu</span>
                    <span class="tag">Indie</span>
                </div>
                <p class="desc">
                   Film Açıklaması Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis reiciendis doloribus ipsum eos?
                </p>
                <div class="cast">
                    <h3>Cast</h3>
                    <ul>
                        <li><img src="/bg.jpg" alt="Marco Andrews" title="Marco Andrews"></li>
                        <li><img src="/bg.jpg" alt="Rebecca Floyd" title="Rebecca Floyd"></li>
                        <li><img src="/bg.jpg" alt="Antonio Herrera" title="Antonio Herrera"></li>
                    </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-signup" style="background-image: url('assets/img/bg11.jpg'); background-size: cover; background-position: top center; min-height: 700px;">
    <div class="container">
      <div class="col text-center">
        <p>Alan İşte</p>
      </div>
    </div>
  </div>
</div>


