<div class="page-header clear-filter" filter-color="orange">
  <div class="page-header-image" data-parallax="true" style="background-image:url('/assets/img/nlogin.jpg');">
  </div>
  <div class="container">
    <div class="content-center brand">
      <div class="logo-container mx-auto">
        <img src="/assets/img/logo.png" class="rounded-circle img-fluid">
      </div>
      <h3>A Social Media Platform That You Can Share <br>The MOVIES, GAMES And BOOKS You Like</h3>
      <ul class="navbar-nav">
        <li class="nav-item">
            <app-animated-button href="javascript:void(0)" onclick="scrollToDownload()">
                Popular Contents
                <br>
                <i class="fa-solid fa-chevron-down"></i>
            </app-animated-button>
        </li>
      </ul>
    </div>


    <h6 class="category category-absolute">Designed and Coded by EternaLib Team
      <a href="https://github.com/Design-Project-OSE/EternaLib" target="_blank">
        <i class="fa-brands fa-github fa-2xl"></i>
      </a></h6>
  </div>
</div>

<div class="main section-download" id="#download-section" style="padding-top: 62px;">

  <app-home-popular contentType="Movies" routerUrl="/movies" iconClass="fa-solid fa-film fa-2xl">
    <div class="col-lg-2 col-md-4 col-sm-6 mr-4" *ngFor="let movie of mostPopularMovies">
      <app-custom-card
        name="{{ movie.name }}"
        imageUrl="{{ movie.poster }}"
        routerUrl="/movies/{{ movie.urlname }}"
        likeCount="{{ movie.like }}"
        commentCount="{{ movie.commentscount }}">
      </app-custom-card>
    </div>
  </app-home-popular>

  <hr class="container">

  <app-home-popular contentType="Games" routerUrl="/games" iconClass="fa-solid fa-gamepad fa-2xl">
    <div class="col-lg-2 col-md-4 col-sm-6 mr-4" *ngFor="let game of mostPopularGames">
      <app-custom-card
        name="{{ game.name }}"
        imageUrl="{{ game.poster }}"
        routerUrl="/games/{{ game.urlname }}"
        likeCount="{{ game.like }}"
        commentCount="{{ game.commentscount }}">
      </app-custom-card>
    </div>
  </app-home-popular>

  <hr class="container">

  <app-home-popular contentType="Books" routerUrl="/books" iconClass="fa-solid fa-book fa-2xl">
    <div class="col-lg-2 col-md-4 col-sm-6 mr-4" *ngFor="let book of mostPopularBooks">
      <app-custom-card
        name="{{ book.name }}"
        imageUrl="{{ book.poster }}"
        routerUrl="/books/{{ book.urlname }}"
        likeCount="{{ book.like }}"
        commentCount="{{ book.commentscount }}">
      </app-custom-card>
    </div>
  </app-home-popular>
</div>



