<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" color-on-scroll="400">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" routerLink="/" (click)="_auth.isAuthPages=false">
        <img class="n-logo" src="/assets/img/aa.png" alt="" style="width: 30px;">
        <b> Eternal Lib</b>
      </a>
      <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar top-bar"></span>
        <span class="navbar-toggler-bar middle-bar"></span>
        <span class="navbar-toggler-bar bottom-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse justify-content-start">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/movies" (click)="_auth.isAuthPages=false"><i class="fa-solid fa-film fa-xl"></i><b> Movies</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/games" (click)="_auth.isAuthPages=false"><i class="fa-solid fa-gamepad fa-xl"></i><b> Games</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/books" (click)="_auth.isAuthPages=false"><i class="fa-solid fa-book fa-xl"></i><b> Books</b></a>
        </li>
      </ul>
      <form class="ml-auto dropdown" data-background-color style="width: 350px;" >
        <div class="form-group has-white mb-0" data-toggle="dropdown" id="searchDropdown">
          <div class="input-group mb-0">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="now-ui-icons ui-1_zoom-bold"></i>
              </div>
            </div>
            <input
            #searchInput
            type="search"
            class="form-control"
            (keyup)="searchForContents(searchInput.value)"
            placeholder="Search a content...">
          </div>
        </div>
        <div class="dropdown-menu w-100 py-0" aria-labelledby="searchDropdown">
          <div class="dropdown-item my-0 p-0" *ngIf="allMovies.length!=0">
            <table class="table table-hover mb-0">
              <thead>
                <tr>
                  <th class="py-0" style="border: none;">
                    <b class="text-primary h4">Movies</b>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let movie of allMovies" routerLink="/movies/{{ movie.urlname }}" style="cursor: pointer;">
                  <td class="p-2" style="border-top: none;">
                    <img src="{{ movie.poster }}" style="width: 60px; height:80px">
                  </td>
                  <td style="border-top: none;">
                      <b>{{ movie.name }}</b>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="dropdown-divider my-0"></div>
          <div class="dropdown-item my-0 p-0" *ngIf="allGames.length!=0">
            <table class="table table-hover mb-0">
              <thead>
                <tr>
                  <th class="py-0" style="border: none;">
                   <b class="text-primary h4">Games</b>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let game of allGames" routerLink="/games/{{ game.urlname }}" style="cursor: pointer;">
                  <td class="p-2" style="border-top: none;">
                    <img src="{{ game.poster }}" style="width: 60px; height:80px">
                  </td>
                  <td style="border-top: none;">
                      <b>{{ game.name }}</b>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="dropdown-divider my-0"></div>
          <div class="dropdown-item my-0 p-0" *ngIf="allBooks.length!=0">
            <table class="table table-hover mb-0">
              <thead>
                <tr>
                  <th class="py-0" style="border: none;">
                    <b class="text-primary h4">Books</b>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let book of allBooks" routerLink="/books/{{ book.urlname }}" style="cursor: pointer;">
                  <td class="p-2" style="border-top: none;">
                    <img src="{{ book.poster }}" style="width: 60px; height:80px">
                  </td>
                  <td style="border-top: none;">
                      <b>{{ book.name }}</b>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </div>

    <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="/assets/img/blurred-image-1.jpg">
      <ul class="navbar-nav">
        <li class="nav-item dropdown" *ngIf="_auth.isLoggedIn">
          <a href="#" class="nav-link dropdown-toggle" id="sDropdown" data-toggle="dropdown">
            <i class="now-ui-icons users_single-02"></i>
            <p class="px-1"><b>{{ profile.full_name }}</b></p>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sDropdown">
            <a class="dropdown-item" routerLink="/profile/{{ profile.username }}/{{ currentUser.id }}">
              <i class="fa fa-eye"></i> View Profile
            </a>
            <a class="dropdown-item" routerLink="/edit/{{profile.username}}/{{ currentUser.id }}">
              <i class="now-ui-icons ui-1_settings-gear-63"></i> Profile Settings
            </a>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" (click)="_auth.logOut()">
              <i class="fa-solid fa-right-from-bracket"></i> Log Out
            </button>
          </div>
        </li>
        <li class="nav-item">
          <a routerLink="/login" (click)="_auth.isAuthPages=false" *ngIf="!_auth.isAuthPages && !_auth.isLoggedIn" class="nav-link btn btn-outline-primary text-light btn-round">
            <i class="fa-solid fa-right-to-bracket"></i>
            <p class="pl-1"><b>LOG IN</b></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-round" rel="tooltip" title="Follow us on X (Twitter)" data-placement="bottom" href="https://twitter.com/emrelyoruk" target="_blank">
            <i class="fab fa-square-x-twitter"></i>
            <p class="d-lg-none d-xl-none">X (Twitter)</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-round" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/emre.akcam.7315/" target="_blank">
            <i class="fab fa-facebook-square"></i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-round" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/emreyoruk0/" target="_blank">
            <i class="fab fa-instagram"></i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

