<footer class="footer" [ngClass]="isHomePage()"> <!-- footer-default arka planı light yapar,-->
  <div class="container">
    <nav>
      <ul>
        <li>
          <a routerLink="/" (click)="_auth.isAuthPages=false">
            <img class="n-logo" src="/assets/img/logo.png" alt="" style="width: 30px;">
            <b> Eternal Lib</b>
          </a>
        </li>
        <li>
          <a routerLink="/about-us" (click)="_auth.isAuthPages=false">
            About Us
          </a>
        </li>
        <li>
          <a routerLink="/contact-us" (click)="_auth.isAuthPages=false">
            Contact Us
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright" id="copyright">
      &copy;
      <script>
        document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
      </script>2024, Designed and Coded by
      <a href="https://github.com/Design-Project-OSE/EternaLib" target="_blank">EternaLib Team</a>.
    </div>
  </div>
</footer>
