<div class="login-page sidebar-collapse">
  <app-navbar></app-navbar>

  <div class="page-header clear-filter" filter-color="orange" style="height:100%">
    <div class="page-header-image" style="background-image:url(/assets/img/nlogin.jpg)"></div>
    <div class="content">
      <div class="container">
        <div class="col-md-4 ml-auto mr-auto">
          <div class="card card-login card-plain">

            <app-login-form *ngIf="!_s.isRegisterForm"></app-login-form>
            <app-register-form *ngIf="_s.isRegisterForm"></app-register-form>

            </div>
          </div>
        </div>
      </div>

      <app-footer></app-footer>
    </div>
  </div>
