<app-auth loginOrRegister="Register" routeUrl="/login" leftText="Have an Account?">

  <form class="card-body py-1">
    <div class="input-group no-border input-lg">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="now-ui-icons users_circle-08"></i>
        </span>
      </div>
      <input type="text" class="form-control" placeholder="First and Last Name">
    </div>
    <div class="input-group no-border input-lg">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="now-ui-icons ui-1_email-85"></i>
        </span>
      </div>
      <input type="email" placeholder="Email" class="form-control" />
    </div>
    <div class="input-group no-border input-lg mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="now-ui-icons text_caps-small"></i>
        </span>
      </div>
      <input type="password" class="form-control" placeholder="Password">
    </div>
  </form>
  
</app-auth>
