<div class="landing-page sidebar-collapse">
  <div class="wrapper">
    <div class="page-header page-header-small clear-filter" filter-color="orange">
      <div class="page-header-image" data-parallax="true" style="background-image: url('/assets/img/bg3.jpg');">
      </div>
      <div class="content-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mt-5">
              <h1 class="title mb-3">We are The EternaLib Team.</h1>
              <app-animated-button href="javascript:void(0)" onclick="scrollToDownload()">
                Our Team
                <br>
                <i class="fa-solid fa-chevron-down"></i>
              </app-animated-button>
            </div>
            <div class="col-lg-6 d-lg-block d-none">
              <div class="photo-container">
                <img src="/assets/img/logo.png" class="rounded-circle img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-about-us">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Who we are?</h2>
            <h5 class="description">We are three newly graduated computer engineers with a shared passion for technology, literature, films, and gaming. Our journey began with a simple idea: to create a platform where people can share their thoughts, reviews, and recommendations on their favorite books, games, and movies.</h5>
          </div>
        </div>
        <div class="separator separator-primary"></div>
        <div class="section-story-overview">
          <div class="row">
            <div class="col-md-6">
              <div class="image-container image-left" style="background-image: url('/assets/img/bg4.jpg')">
                <!-- First image on the left side -->
                <p class="blockquote blockquote-primary">Are you looking for content to pass the time? Or do you want to share your thoughts about the contents?
                  <br>
                   Join us, and let's make this exploration a shared adventure!
                  <br>
                  <br>
                  <small>-EternaLib Team</small>
                </p>
              </div>
              <!-- Second image on the left side of the article -->
              <div class="image-container" style="background-image: url('/assets/img/bg3.jpg')"></div>
            </div>
            <div class="col-md-5">
              <!-- First image on the right side, above the article -->
              <div class="image-container image-right" style="background-image: url('/assets/img/bg1.jpg')"></div>
              <h2 class="title">What Did We Aim For?</h2>
              <p>We believe that sharing experiences and insights about what we read, play, and watch can bring people together and enrich our understanding of these forms of art. Whether you're a bookworm, a gamer, or a film enthusiast, our site is designed to help you discover new favorites, connect with like-minded individuals, and keep track of your personal journey through the world of entertainment.
              </p>
              <p>
                Our goal is to create a vibrant, interactive community where users can explore, review, and discuss their favorite books, games, and films. We want to make discovering new content and connecting with others a seamless and enjoyable experience. We envision a platform where every recommendation, review, and shared experience adds value and fosters a deeper appreciation for these artistic mediums.
              </p>
              <p>That's exactly why we established this site for you. We are passionate about building a space where your opinions matter, your tastes are celebrated, and your journey through the world of entertainment is enriched by the community we all create together.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-team text-center section-download py-3" id="#download-section">
      <div class="container">
        <h2 class="title">Here is our team</h2>
        <div class="team">
          <div class="row">
            <div class="col-md-4">
              <div class="team-player">
                <img src="/assets/img/emre.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                <h4 class="title">Emre Yörük</h4>
                <p class="category text-primary">Front-end Developer</p>
                <p class="description">A frontend developer with a love for books, focused on creating user-friendly interfaces and enhancing user experience.</p>
                  <app-social-buttons
                    isGithub="true"
                    instagram="https://www.instagram.com/emreyoruk0/"
                    x=""
                    linkedin="https://www.linkedin.com/in/emreyorukk/"
                    faceOrGit="https://github.com/emreyoruk0">
                </app-social-buttons>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-player">
                <img src="/assets/img/sinan.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                <h4 class="title">Sinan Uyğun</h4>
                <p class="category text-primary">Back-end Developer</p>
                <p class="description">A backend expert and gaming enthusiast, ensuring that your data is secure and the platform is reliable.</p>
                  <app-social-buttons
                    isGithub="true"
                    instagram="https://www.instagram.com/_thr3_3_/"
                    x=""
                    linkedin="https://www.linkedin.com/in/sinanuygun/"
                    faceOrGit="https://github.com/YELBEGEN7">
                </app-social-buttons>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-player">
                <img src="/assets/img/onur.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                <h4 class="title">Onur Karakaya</h4>
                <p class="category text-primary">Database Specialist</p>
                <p class="description">A database specialist with a keen interest in music, dedicated to maintaining a seamless and efficient data management system.</p>
                <app-social-buttons
                  isGithub="true"
                  instagram="https://www.instagram.com/0nur_karakaya/"
                  x=""
                  linkedin="https://www.linkedin.com/in/onur-karakaya-815517228/"
                  faceOrGit="https://github.com/OnuurKrky">
                </app-social-buttons>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
