<div class="landing-page sidebar-collapse">
  <div class="wrapper">
    <div class="page-header page-header-small clear-filter" filter-color="orange">
      <div class="page-header-image" data-parallax="true" style="background-image: url('/assets/img/bg4.jpg');">
      </div>
      <div class="content-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mt-5">
              <h1 class="title mb-3">We are The EternaLib Team.</h1>
              <app-animated-button href="javascript:void(0)" onclick="scrollToDownload()">
                Our Team
                <br>
                <i class="fa-solid fa-chevron-down"></i>
              </app-animated-button>
            </div>
            <div class="col-lg-6 d-lg-block d-none">
              <div class="photo-container">
                <img src="/assets/img/logo.png" class="rounded-circle img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-about-us">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Who we are?</h2>
            <h5 class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia sed molestias laborum saepe, libero iusto repudiandae illo doloribus? Labore ad similique explicabo eaque voluptatibus possimus et facilis architecto. Sapiente, explicabo.</h5>
          </div>
        </div>
        <div class="separator separator-primary"></div>
        <div class="section-story-overview">
          <div class="row">
            <div class="col-md-6">
              <div class="image-container image-left" style="background-image: url('/assets/img/bg4.jpg')">
                <!-- First image on the left side -->
                <p class="blockquote blockquote-primary">"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae optio rerum laborum perferendis consectetur laudantium, dolorem ipsa?"
                  <br>
                  <br>
                  <small>-LOREM</small>
                </p>
              </div>
              <!-- Second image on the left side of the article -->
              <div class="image-container" style="background-image: url('/assets/img/bg3.jpg')"></div>
            </div>
            <div class="col-md-5">
              <!-- First image on the right side, above the article -->
              <div class="image-container image-right" style="background-image: url('/assets/img/bg1.jpg')"></div>
              <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, rem?</h3>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae optio rerum laborum perferendis consectetur laudantium, sapiente expedita commodi, error fugiat minima nobis ut ducimus enim dicta, dolorem ipsa? Repellendus, velit.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel veniam enim dicta repudiandae voluptas id consequatur pariatur, aspernatur, laboriosam necessitatibus, ab eum numquam. Quasi dolores, quaerat inventore explicabo atque dolore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus numquam vitae quis, molestiae dolorum nostrum, ex quos voluptatibus sint, amet enim. Commodi modi, hic ab vitae esse sapiente saepe sed?
              </p>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis deleniti delectus recusandae consequuntur repellat laborum rem dolorum. Molestias repellendus, voluptas sint nostrum placeat fugit expedita saepe veritatis qui temporibus quibusdam.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-team text-center section-download py-3" id="#download-section">
      <div class="container">
        <h2 class="title">Here is our team</h2>
        <div class="team">
          <div class="row">
            <div class="col-md-4">
              <div class="team-player">
                <img src="/assets/img/emre.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                <h4 class="title">Emre Yörük</h4>
                <p class="category text-primary">Software Developer and Designer</p>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur distinctio aperiam ipsam voluptatibus non architecto? Consectetur,
                  <a href="#">links</a> eum sapiente? vero iusto, Repellat dolorem tempore?</p>
                  <app-social-buttons
                    instagram="https://www.instagram.com/emreyoruk0/"
                    x=""
                    linkedin=""
                    github="">
                </app-social-buttons>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-player">
                <img src="/assets/img/sinan.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                <h4 class="title">Sinan Uyğun</h4>
                <p class="category text-primary">Software Developer</p>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur distinctio aperiam ipsam voluptatibus non architecto? Consectetur,
                  <a href="#">links</a> eum sapiente? vero iusto, Repellat dolorem tempore?</p>
                  <app-social-buttons
                    instagram="https://www.instagram.com/_thr3_3_/"
                    x=""
                    linkedin=""
                    github="">
                </app-social-buttons>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-player">
                <img src="/assets/img/onur.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                <h4 class="title">Onur Karakaya</h4>
                <p class="category text-primary">Software Developer</p>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur distinctio aperiam ipsam voluptatibus non architecto? Consectetur,
                  <a href="#">links</a> eum sapiente? vero iusto, Repellat dolorem tempore?</p>
                <app-social-buttons
                  instagram="https://www.instagram.com/0nur_karakaya/"
                  x=""
                  linkedin=""
                  github="">
                </app-social-buttons>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
