<div class="profile-page sidebar-collapse">
  <div class="wrapper">
    <div class="page-header clear-filter page-header-small" filter-color="orange">
      <div class="page-header-image" data-parallax="true" style="background-image:url('/assets/img/bg5.jpg');">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-7">
            <div class="mr-3 photo-container float-right">
              <img src="/assets/img/default-avatar.png">
            </div>
          </div>
          <div class="col-3">
            <app-animated-button routerLink="/profile/edit" class="float-left">
              <i class="fa fa-user-pen"></i> Edit Profile
            </app-animated-button>
          </div>
        </div>

        <h3 class="title">Emre Yörük</h3>
        <div class="content">
          <div class="social-description">
            <h2>58</h2>
            <p>Liked Movies</p>
          </div>
          <div class="social-description">
            <h2>26</h2>
            <p>Liked Games</p>
          </div>
          <div class="social-description">
            <h2>7</h2>
            <p>Liked Books</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section py-1">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="title mt-2">About Me</h3>
            <h5 class="description mb-3">An artist of considerable range, Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. An artist of considerable range.</h5>
          </div>
          <div class="col-md-6">
            <h3 class="title mt-2">My Social Accounts</h3>
                <app-social-buttons
                    instagram="https://www.instagram.com/emreyoruk0/"
                    x="https://x.com/emrelyoruk"
                    linkedin="https://www.linkedin.com/in/emreyorukk/"
                    github="https://github.com/emreyoruk0">
                </app-social-buttons>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mx-auto">

            <h3 class="title text-center mt-0">Contents I like</h3>
            <div class="nav-align-center">
              <ul class="nav nav-pills nav-pills-primary nav-pills-just-icons" role="tablist">
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#movies" role="tablist" rel="tooltip" title="Movies" data-placement="bottom">
                    <i class="fa-solid fa-film"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#games" role="tablist" rel="tooltip" title="Games" data-placement="bottom">
                    <i class="fa-solid fa-gamepad"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#books" role="tablist" rel="tooltip" title="Books" data-placement="bottom">
                    <i class="fa-solid fa-book"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Tab panes -->
          <div class="tab-content gallery mx-auto">
            <div class="tab-pane active" id="games" role="tabpanel">
                <div class="row collections">
                  <div class="col-lg-3 col-md-6 mx-5">
                      <app-custom-card
                        name="Infamous Second Son"
                        imageUrl="https://image.api.playstation.com/vulcan/img/rnd/202010/2821/KXv6VplN1r1bNPdfR4r29w0m.png"
                        routerUrl="/games/detail"
                        likeCount="1.6b"
                        commentCount="5">
                      </app-custom-card>
                  </div>
                </div>
            </div>
            <div class="tab-pane" id="movies" role="tabpanel">
                <div class="row collections">
                  <div class="col-lg-3 col-md-6 mx-5">
                      <app-custom-card
                        name="Durante La Tormenta"
                        imageUrl="https://tr.web.img4.acsta.net/r_1280_720/pictures/19/03/28/15/19/3146737.jpg"
                        routerUrl="/movies/detail"
                        likeCount="3.6b"
                        commentCount="15">
                      </app-custom-card>
                  </div>
                </div>
            </div>
            <div class="tab-pane" id="books" role="tabpanel">
                <div class="row collections">
                  <div class="col-lg-3 col-md-6 mx-5">
                      <app-custom-card
                        name="Dune"
                        imageUrl="https://m.media-amazon.com/images/I/A1u+2fY5yTL._AC_UF1000,1000_QL80_.jpg"
                        routerUrl="/books/detail"
                        likeCount="1.1b"
                        commentCount="3">
                      </app-custom-card>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
