<div class="profile-page sidebar-collapse">
  <div class="wrapper">
    <div class="page-header clear-filter page-header-small" filter-color="orange">
      <div class="page-header-image" data-parallax="true" style="background-image:url('/assets/img/bg5.jpg');">
      </div>
      <div class="container">
        <div class="photo-container">
          <img src="/assets/img/emre.jpg" alt="">
        </div>
        <h3 class="title">Emre Yörük</h3>
        <p class="category">Software Engineer</p>
        <div class="content">
          <div class="social-description">
            <h2>58</h2>
            <p>Liked Movies</p>
          </div>
          <div class="social-description">
            <h2>26</h2>
            <p>Liked Games</p>
          </div>
          <div class="social-description">
            <h2>7</h2>
            <p>Liked Books</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section pb-1">
      <div class="container">
        <div class="button-container">
          <app-animated-button routerLink="/profile/edit" style="background-color: white;">
            <i class="fa fa-user-pen"></i> Edit Profile
          </app-animated-button>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h3 class="title mt-2">About Me</h3>
            <h5 class="description mb-3">An artist of considerable range, Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. An artist of considerable range.</h5>
          </div>
          <div class="col-md-6">
            <h3 class="title mt-2">My Social Accounts</h3>
                <app-social-buttons
                    instagram="https://www.instagram.com/emreyoruk0/"
                    x="https://x.com/emrelyoruk"
                    linkedin="https://www.linkedin.com/in/emreyorukk/"
                    github="https://github.com/emreyoruk0">
                </app-social-buttons>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mx-auto">

            <div class="heart-container mx-auto" title="Like">
            <input type="checkbox" class="checkbox" id="Give-It-An-Id">
            <div class="svg-container">
                <svg viewBox="0 0 24 24" class="svg-outline" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                    </path>
                </svg>
                <svg viewBox="0 0 24 24" class="svg-filled" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                    </path>
                </svg>
                <svg class="svg-celebrate" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                    <polygon points="10,10 20,20"></polygon>
                    <polygon points="10,50 20,50"></polygon>
                    <polygon points="20,80 30,70"></polygon>
                    <polygon points="90,10 80,20"></polygon>
                    <polygon points="90,50 80,50"></polygon>
                    <polygon points="80,80 70,70"></polygon>
                </svg>
            </div>
            </div>

            <h3 class="title text-center mt-0">Contents I like</h3>
            <div class="nav-align-center">
              <ul class="nav nav-pills nav-pills-primary nav-pills-just-icons" role="tablist">
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#movies" role="tablist" rel="tooltip" title="Movies" data-placement="bottom">
                    <i class="fa-solid fa-film"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#games" role="tablist" rel="tooltip" title="Games" data-placement="bottom">
                    <i class="fa-solid fa-gamepad"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#books" role="tablist" rel="tooltip" title="Books" data-placement="bottom">
                    <i class="fa-solid fa-book"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Tab panes -->
          <div class="tab-content gallery">
            <div class="tab-pane active" id="games" role="tabpanel">
              <div class="col-md-10 mx-auto">
                <div class="row collections">
                  <div class="col-md-6">
                      <app-custom-card
                        name="Infamous Second Son"
                        imageUrl="https://image.api.playstation.com/vulcan/img/rnd/202010/2821/KXv6VplN1r1bNPdfR4r29w0m.png"
                        routerUrl="/games/detail"
                        viewCount="1.6b"
                        commentCount="5"
                        [categories]="['Bilim kurgu', 'Aksiyon', 'Macera']">
                      </app-custom-card>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="movies" role="tabpanel">
              <div class="col-md-10 mx-auto">
                <div class="row collections">
                  <div class="col-md-6">
                      <app-custom-card
                        name="Durante La Tormenta"
                        imageUrl="https://tr.web.img4.acsta.net/r_1280_720/pictures/19/03/28/15/19/3146737.jpg"
                        routerUrl="/movies/detail"
                        viewCount="3.6b"
                        commentCount="15"
                        [categories]="['Bilim kurgu', 'Gerilim', 'Macera']">
                      </app-custom-card>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="books" role="tabpanel">
              <div class="col-md-10 mx-auto">
                <div class="row collections">
                  <div class="col-md-6">
                      <app-custom-card
                        name="Dune"
                        imageUrl="https://m.media-amazon.com/images/I/A1u+2fY5yTL._AC_UF1000,1000_QL80_.jpg"
                        routerUrl="/books/detail"
                        viewCount="1.1b"
                        commentCount="3"
                        [categories]="['Bilim kurgu', 'Macera']">
                      </app-custom-card>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
