<div class="profile-page sidebar-collapse">
  <div class="wrapper">
    <div class="page-header clear-filter page-header-small" filter-color="orange">
      <div class="page-header-image" data-parallax="true" style="background-image:url('/assets/img/bg5.jpg');">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-7">
            <div class="mr-3 photo-container float-right">
              <img src="/assets/img/default-avatar.png">
            </div>
          </div>
          <div class="col-3">
            <a routerLink="/edit/{{ profile.username }}/{{ profile.userID }}" class="float-left">
              <i class="fa fa-user-pen"></i> Edit Profile
              <a ></a>
            </a>
          </div>
        </div>

        <h3 class="title">{{ profile.full_name }}</h3>
        <div class="content">
          <div class="social-description">
            <h2>{{ profile.like_movie }}</h2>
            <p>Liked Movies</p>
          </div>
          <div class="social-description">
            <h2>{{ profile.like_games }}</h2>
            <p>Liked Games</p>
          </div>
          <div class="social-description">
            <h2>{{ profile.like_book }}</h2>
            <p>Liked Books</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section py-1">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="title mt-2">About Me</h3>
            <h5 class="description mb-3">{{ profile.about }}</h5>
          </div>
          <div class="col-md-6">
            <h3 class="title mt-2">My Social Accounts</h3>
                <app-social-buttons
                    instagram="{{ profile.instagram_link }}"
                    x="{{ profile.x_link}}"
                    linkedin="{{ profile.linkedin_link }}"
                    facebook="{{ profile.facebook_link }}">
                </app-social-buttons>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mx-auto">

            <h3 class="title text-center mt-0">Contents I like</h3>
            <div class="nav-align-center">
              <ul class="nav nav-pills nav-pills-primary nav-pills-just-icons" role="tablist">
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#movies" role="tablist" rel="tooltip" title="Movies" data-placement="bottom">
                    <i class="fa-solid fa-film"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#games" role="tablist" rel="tooltip" title="Games" data-placement="bottom">
                    <i class="fa-solid fa-gamepad"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#books" role="tablist" rel="tooltip" title="Books" data-placement="bottom">
                    <i class="fa-solid fa-book"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Tab panes -->
          <div class="tab-content gallery mx-auto">
            <div class="tab-pane active" id="games" role="tabpanel" *ngIf="likedGames">
                <div class="row collections">
                  <div class="col-lg-3 col-md-6 mx-5" *ngFor="let likedGame of likedGames">
                      <app-custom-card
                        name="{{ likedGame.name }}"
                        imageUrl="{{ likedGame.poster}}"
                        routerUrl="/games/{{ likedGame.urlname }}/{{ likedGame.id }}"
                        likeCount="{{ likedGame.like }}"
                        commentCount="{{ likedGame.commentscount }}">
                      </app-custom-card>
                  </div>
                  <div *ngIf="likedGames.length==0" class="text-center">
                    <h4 class="text-primary"><b>You didn't like any games...</b></h4>
                    <b><i class="mb-5 fa-regular fa-face-sad-cry fa-2xl"></i></b>
                    <app-animated-button routerLink="/games">
                      <i class="fa-solid fa-film fa-xl"></i>
                      Discover Games...
                    </app-animated-button>
                  </div>
                </div>
            </div>
            <div class="tab-pane" id="movies" role="tabpanel" *ngIf="likedMovies">
                <div class="row collections">
                  <div class="col-lg-3 col-md-6 mx-5" *ngFor="let likedMovie of likedMovies">
                      <app-custom-card
                        name="{{ likedMovie.name }}"
                        imageUrl="{{ likedMovie.poster }}"
                        routerUrl="/movies/{{ likedMovie.urlname }}/{{ likedMovie.id }}"
                        likeCount="{{ likedMovie.like }}"
                        commentCount="{{ likedMovie.commentscount }}">
                      </app-custom-card>
                  </div>
                  <div *ngIf="likedMovies.length==0" class="text-center">
                    <h4 class="text-primary"><b>You didn't like any movies...</b></h4>
                    <b><i class="mb-5 fa-regular fa-face-sad-cry fa-2xl"></i></b>
                    <app-animated-button routerLink="/movies">
                      <i class="fa-solid fa-film fa-xl"></i>
                      Discover Movies...
                    </app-animated-button>
                  </div>
                </div>
            </div>
            <div class="tab-pane" id="books" role="tabpanel" *ngIf="likedBooks">
                <div class="row collections">
                  <div class="col-lg-3 col-md-6 mx-5" *ngFor="let likedBook of likedBooks">
                      <app-custom-card
                        name="{{ likedBook.name }}"
                        imageUrl="{{ likedBook.poster }}"
                        routerUrl="/books/{{ likedBook.urlname }}/{{ likedBook.id }}"
                        likeCount="{{ likedBook.like }}"
                        commentCount="{{ likedBook.commentscount }}">
                      </app-custom-card>
                  </div>
                  <div *ngIf="likedBooks.length==0" class="text-center">
                    <h4 class="text-primary"><b>You didn't like any books...</b></h4>
                    <b><i class="mb-5 fa-regular fa-face-sad-cry fa-2xl"></i></b>
                    <app-animated-button routerLink="/books">
                      <i class="fa-solid fa-film fa-xl"></i>
                      Discover Books...
                    </app-animated-button>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
