.yorum-btn {
  border-radius: 0 20px 20px 0;
  background-color: rgb(250, 122, 80);
  color: white;
  border-color: wheat;
  transition: .6s;
}
.yorum-btn:hover{
  background-color: white;
  color: rgb(250, 122, 80);
}

