<app-content-detail
  name="Dune"
  year="2010"
  description="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit laudantium dicta officiis perspiciatis officia voluptatibus soluta? Consequatur, amet officiis, ab quae neque dolorem illo ratione rerum eius possimus nulla distinctio."
  imdb="5.1"
  [categories]="['Bilim Kurgu', 'Aksiyon', 'Macera']"
  bgImage="/assets/img/bg1.jpg"
  likeCount="9"
  dislikeCount="0"
  viewCount="3.6B"
  poster="https://m.media-amazon.com/images/I/A1u+2fY5yTL._AC_UF1000,1000_QL80_.jpg"
  contentRouteUrl="/books/detail"
  userRouteUrl="/profile"
  userName="Emre Yörük"
  userImage="/assets/img/emre.jpg"
  userComment="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis nesciunt earum rerum nemo possimus laborum aliquam rem, repellendus magni corporis maxime id, natus fugit aut deleniti tempore. Quae, quas facere. lo">

  <form #commentForm="ngForm" (ngSubmit)="sendComment(commentForm)">
    <label for="comment"><b>Write Comment</b></label>
    <i class="ml-2 now-ui-icons ui-2_chat-round fa-xl"></i>
    <div class="btn-group btn-group-toggle">
      <textarea
        cols="90" rows="2"
        class="form-control"
        name="comment"
        id="comment"
        #comment
        ngModel>
      </textarea>
      <button type="submit" class="btn-comment">Send Comment</button>
    </div>
  </form>

</app-content-detail>
