<div class="landing-page sidebar-collapse">
  <div class="wrapper">
    <div class="page-header page-header-small clear-filter" filter-color="orange">
      <div class="page-header-image" data-parallax="true" style="background-image: url('/assets/img/nlogin.jpg');"></div>
      <div class="content-center mx-1 px-1">
        <div class="row">
          <div class="col-lg-6 mt-5">
            <h3 class="title">Can't decide what to {{ which }} ?</h3>
            <h3 class="mt-0">Then let us suggest for you!</h3>

            <app-animated-button>
                <i class="fa-regular fa-face-surprise fa-xl"></i>
                <span class="ml-2">Surprize Me!</span>
            </app-animated-button>

          </div>
          <div class="col-lg-6 d-lg-block d-none">
            <div class="logo-container">
              <img src="/assets/img/aa.png" class="rounded-circle img-fluid img-raised">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mx-auto w-75 mt-3">
      <h2 class="my-0"><b>All {{ contentTypee }}</b></h2>
      <hr>

      <div class="d-flex align-items-center">

          <div class="input-group w-25 mb-3 no-border">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="now-ui-icons ui-1_zoom-bold"></i>
              </div>
            </div>
            <input type="text" class="form-control py-3" id="search" placeholder="Search...">
          </div>

          <div class="ml-auto w-25 mb-3 no-border input-group">
            <select class="form-control form-control-lg py-3">
              <option *ngFor="let category of categoriess">
                {{ category.name }}
              </option>
            </select>
          </div>
      </div>

        <div class="card-wrapper">
          <ng-content></ng-content>
        </div>


      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>

  </div>
</div>


