<div class="landing-page sidebar-collapse">

  <div class="wrapper">

    <div class="page-header page-header-small">
      <div class="page-header-image" data-parallax="true" style="background-image: url('/assets/img/firtina-ani.jpg');">
      </div>
      <div class="content-center mx-1 px-1">
          <div class="row justify-content-between mt-5 pt-5">
            <div class="col-md-6 text-left">
              <h1 class="title mb-0 pt-1">Durante La Tormenta</h1>
              <h5>2018</h5>
              <p>(Bilim Kurgu)</p>
                <div class="d-flex align-items-center">
                  <img src="/assets/img/imdb.png" alt="">
                  <h1 class="d-inline mb-0"><b>7.6</b></h1>
                </div>
                  <div class="mt-5 mb-0">
                    <a href="#" class="btn btn-lg btn-primary p-3 rounded-pill">
                      <i class="fa-solid fa-thumbs-up fa-2xl"> 341</i>
                    </a>
                    <a href="#" class="btn btn-lg btn-primary p-3 rounded-pill">
                      <i class="fa-solid fa-thumbs-down fa-2xl"> 45</i>
                    </a>
                  </div>
            </div>
            <div class="col-md-6">
              <iframe width="560" class="rounded" height="315" src="https://www.youtube.com/embed/t2-79qK2Cio?si=FkgF2fmcma3GyDtk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
          </div>
      </div>
    </div>

    <div class="section section-team">
      <div class="container">
          <div class="row">
            <div class="col-md-4">
                <img class="bbb" src="https://tr.web.img4.acsta.net/r_1280_720/pictures/19/03/28/15/19/3146737.jpg" alt="Location Unknown">
                <div class="social-line text-center mt-3 bbb border bg-light">
                  <h4 class="my-2">Bizi Takip Et:</h4>
                  <a href="#" class="btn btn-primary p-3 rounded-circle" style="background-color: #bd214f;">
                    <i class="fa-brands fa-instagram fa-2xl"></i>
                  </a>
                  <a href="#" class="btn btn-primary p-3 rounded-circle"  style="background-color: #00aced;">
                    <i class="fa-brands fa-twitter fa-2xl"></i>
                  </a>
                  <a href="#" class="btn btn-primary p-3 rounded-circle" style="background-color: #3b5998;">
                    <i class="fa-brands fa-facebook fa-2xl"></i>
                  </a>
                </div>
                <div class="mt-5">
                  <h3>Benzer Filmler</h3>
                </div>
            </div>
            <div class="col-md-8">
              <h1><b>Hakkında</b></h1>
              <p style="color: black;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae placeat quibusdam assumenda mollitia minima corrupti dicta perspiciatis, inventore doloremque, ducimus error. Veritatis repellat tenetur magni corporis aliquid distinctio alias perferendis. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsum animi deserunt doloremque nulla illum, ullam aliquid eum eius. Nobis at, porro voluptatum sint fugiat commodi error cumque magnam asperiores? Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nostrum odit quibusdam adipisci sequi explicabo, voluptas voluptatibus. Est corrupti saepe incidunt rerum consequatur tempore, porro debitis, officia laudantium, repudiandae vero!
              </p>
              <hr>
              <form action="">
                <label for="yorum"><b>Yorum Yaz</b></label>
                <div class="btn-group btn-group-toggle">
                  <textarea class="form-control" name="" id="yorum" cols="90" rows="2"></textarea>
                  <button class="yorum-btn">Yorumu Gönder</button>
                </div>
              </form>
              <div class="row mt-3 bg-light">
                <div class="col-3">
                  <img src="/assets/img/julie.jpg" alt="Thumbnail Image" class="rounded-circle img-raised">
                </div>
                <div class="col-9">
                  <h4 class="my-0">Nazlı Şirin</h4>
                  <p class="display-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis nesciunt earum rerum nemo possimus laborum aliquam rem, repellendus magni corporis maxime id, natus fugit aut deleniti tempore. Quae, quas facere.</p>
                  <button class="btn btn-light rounded-pill bg-white text-dark"><i class="fa-solid fa-thumbs-up"></i></button>
                  <button class="btn btn-light rounded-pill bg-white text-dark"><i class="fa-solid fa-thumbs-down"></i></button>
                </div>
              </div>
              <div class="row mt-3 bg-light">
                <div class="col-3">
                  <img src="/assets/img/julie.jpg" alt="Thumbnail Image" class="rounded-circle img-raised">
                </div>
                <div class="col-9">
                  <h4 class="my-0">Nazlı Şirin</h4>
                  <p class="display-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis nesciunt earum rerum nemo possimus laborum aliquam rem, repellendus magni corporis maxime id, natus fugit aut deleniti tempore. Quae, quas facere.</p>
                  <button class="btn btn-light rounded-pill bg-white text-dark"><i class="fa-solid fa-thumbs-up"></i></button>
                  <button class="btn btn-light rounded-pill bg-white text-dark"><i class="fa-solid fa-thumbs-down"></i></button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>


