<footer class="footer footer-default">
  <div class="container">
    <nav>
      <ul>
        <li>
          <a href="https://www.creative-tim.com">
            Creative Tim
          </a>
        </li>
        <li>
          <a href="http://presentation.creative-tim.com">
            About Us
          </a>
        </li>
        <li>
          <a href="http://blog.creative-tim.com">
            Blog
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright" id="copyright">
      &copy;
      <script>
        document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
      </script>2024, Designed by
      <a href="https://www.linkedin.com/in/onur-karakaya-815517228/" target="_blank">Onur Karakaya</a>. Coded by
      <a href="https://www.linkedin.com/in/emreyorukk/" target="_blank">Emre Yörük</a>.
    </div>
  </div>
</footer>
